#squares {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    background-color: rgb(114, 119, 119);
}

.square {
    width: 60px;
    height: 60px;
    border: 1px solid black;
}

.row {
    display:flex;

}